{% extends "index.html" %}
{%block awards %}
    {% if mvp > 0 %}
    <h3>{{mvp}}x MVP</h3>
    {%endif%}
    {% if fmvp > 0 %}
    <h3>{{fmvp}}x Finals MVP</h3>
    {% endif %}
    {% if dpoy > 0 %}
    <h3>{{dpoy}}x Defensive Player of the Year</h3>
    {% endif %}
    {% if all_star > 0 %}
    <h3>{{all_star}}x All-Star</h3>
    {% endif %}
    {% if all_nba > 0 %}
    <h3>{{all_nba}}x ALL-NBA</h3>
    {% endif %}
    {% if all_d > 0 %}
    <h3>{{all_d}}x ALL-Defense</h3>
    {% endif %}
    {% if roty > 0 %}
    <h3>{{roty}}x Rookie of the Year</h3>
    {% endif %}
    {% if mip > 0 %}
    <h3>{{mip}}x Most Improved Player</h3>
    {% endif %}
    {% if fmvp == mvp ==all_nba == all_d ==  roty ==  mip == dpoy == all_star == 0  %}
    <h3> None :( </h3>
    {% endif %}
{%endblock %}

{%block table %}
<table>
    <tr><h1>Last 5 Games</h1></tr>
    <tr>
        <th>Date</th>
        <th>Match</th>
        <th>W/L</th>
        <th>PTS</th>
        <th>FG</th>
        <th>3-PT</th>
        <th>FT</th>
        <th>OREB</th>
        <th>DREB</th>
        <th>AST</th>
        <th>STL</th>
        <th>BLK</th>
        <th>TO</th>
        <th>+/-</th>
    </tr>
    {%if total_games < 5 %}
        {% for i in range(0,total_games) %}
            <tr>
                <td>{{game_date[i]}}</td>
                <td>{{match[i]}}</td>
                <td>{{log_wl[i]}}</td>
                <td>{{log_pts[i]}}</td>
                <td>{{log_fg[i]}}</td>
                <td>{{log_three[i]}}</td>
                <td>{{log_ft[i]}}</td>
                <td>{{log_oreb[i]}}</td>
                <td>{{log_dreb[i]}}</td>
                <td>{{log_ast[i]}}</td>
                <td>{{log_stl[i]}}</td>
                <td>{{log_blk[i]}}</td>
                <td>{{log_tov[i]}}</td>
                <td>{{log_pm[i]}}</td>
            </tr>
        {% endfor %}
    {%else%}
        {% for i in range(0,5) %}
            <tr>
                <td>{{game_date[i]}}</td>
                <td>{{match[i]}}</td>
                <td>{{log_wl[i]}}</td>
                <td>{{log_pts[i]}}</td>
                <td>{{log_fg[i]}}</td>
                <td>{{log_three[i]}}</td>
                <td>{{log_ft[i]}}</td>
                <td>{{log_oreb[i]}}</td>
                <td>{{log_dreb[i]}}</td>
                <td>{{log_ast[i]}}</td>
                <td>{{log_stl[i]}}</td>
                <td>{{log_blk[i]}}</td>
                <td>{{log_tov[i]}}</td>
                <td>{{log_pm[i]}}</td>
            </tr>
        {% endfor %}
    {% endif %}
   
</table>
{%endblock %}