<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
   
    <h1>History</h1>
    <h5>12.13.22</h5>
    <ul>
        <li>Redesigned Home Page</li>
    </ul>
    <h5>
        12/4/2022
    </h5>
    <ul>
        <li>Replaced OG search bar with a nav bar</li>
        <li>dynamic color backgrounds reflecting player's team</li>
    </ul>
        <h5>12/3/2022</h5>
        <ul>
            <li>Added Custom Font to Player Page and CSS stuff</li>
        </ul>

        <h5>12/2/2022</h5>
        <ul>
            <li>Created Logo</li>
        </ul>

        <h2>December 2022</h2>

        <h5>Sometime between 11.05-11.16</h5>
        <ul>
            <li>Began CSSing the HomePage</li>
            <li>Tried to write an algorithm to count individual championships but doesn't work because it makes too many http calls</li>
        </ul>
        <h5>11.04.22</h5>
        <ul>
            <li>Created Select Year Dropdown</li>
            <li>Graphs are now dynamic and can display data from different years</li>
        </ul>

        <h5>11.01.22</h5>
        <ul>
            <li>Created Several Graphs/Charts in Player Pages</li>
            <ul>
                <li>PPG Line Graph (Dynamic)</li>
                <li>FG% Donut (Dynamic)</li>
                <li>Rebound Donut (Static)</li>
                <li>3P Donut (Static)</li>
            </ul>
            <li>Created Invalid Player Pop-up v1</li>
        </ul>
        
        <h2>November 2022</h2>

        <h5>10.31.22</h5>
        <ul>
            <li>Began Development of Home Page</li>
            <li>Created History Page & began Recording Development History</li>
            <li>Connected Home Page to Player Pages</li>
        </ul>
        <h5>10.06.22-10.30.22</h5>
        <ul>
            <li>Developed Search Player Function</li>
            <li>Created Player General Profile</li>
            <ul>
                <li>Name</li>
                <li>Picture</li>
                <li>Country</li>
                <li>Current Team</li>
                <li>Height</li>
                <li>Weight</li>
            </ul>
            <li>Created Some Statistics</li>
            <ul>
                <li>Career Total Averages</li>
            </ul>
            <li>Added Awards</li>
            <li>Created Last 5 Game Table Chart</li>
        </ul>
        <li>Made everything above Dynamic</li>
        <h5>10.05.22: Genesis</h5>
        <ul>
            <li>Initialized Project</li>
        </ul>
        <h2>October 2022</h2>
    </div>
</body>
</html>