<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
   
    <h1>History</h1>
        
        <h5>10.31.22</h5>
        <ul>
            <li>Began Development of Home Page</li>
            <li>Created History Page & began Recording Development History</li>
            <li>Connected Home Page to Player Pages</li>
        </ul>
        <h5>10.06.22-10.30.22</h5>
        <ul>
            <li>Developed Search Player Function</li>
            <li>Created Player General Profile</li>
            <ul>
                <li>Name</li>
                <li>Picture</li>
                <li>Country</li>
                <li>Current Team</li>
                <li>Height</li>
                <li>Weight</li>
            </ul>
            <li>Created Some Statistics</li>
            <ul>
                <li>Career Total Averages</li>
            </ul>
            <li>Added Awards</li>
            <li>Created Last 5 Game Table Chart</li>
        </ul>
        <li>Made everything above Dynamic</li>
        <h5>10.05.22: Genesis</h5>
        <ul>
            <li>Initialized Project</li>
        </ul>
        
    </div>
</body>
</html>