<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Stat Padder</title>
</head>
<body>
    <!-- Search -->
    <div class="container-sm">
        <div class="row">
            <h1>STAT Padder</h1>
        </div>
        <div class="row">
            <form action="/" method="post">
                <input type="text" name = "player_input" placeholder = "Enter full name"/>
                <input type="submit" value="submit"/>
            </form>
            
        </div>
    </div>
    <!-- Player Card -->
    <div class="container">
        <!-- Display Bio & Image -->
        <div class="row">
            <div class="col">
                <h3>{{player_name}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{player_image}}">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3>Country</h3>
                        <h4>{{player_country}}</h4>
                    </div>
                    <div class="col">
                        <h3>Current Team</h3>
                        <img src="{{team_image}}" width="150">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Height</h3>
                        <h4>{{player_height}}</h4>
                    </div>
                    <div class="col">
                        <h3>Weight</h3>
                        <h4>{{player_weight}} lbs</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Display PPG, APG, RPG -->
        <br>
        <br>
        <div class="row">
            <h4>Career Total Averages</h4>
        </div>
        <div class="row">
            <div class="col">
                <h4>PPG</h4>
                <h3>{{career_pts}}</h3>
            </div>
            <div class="col">
                <h4>APG</h4>
                <h3>{{career_ast}}</h3>
            </div>
            <div class="col">
                <h4>RPG</h4>
                <h3>{{career_reb}}</h3>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Awards -->
    <div class="container">
        <div class="row">
            <h3>Notable Individual Awards</h3>
        </div>
        <div class="row">
           {% block awards %}
           {% endblock %}
           
        </div>
    </div>
</body>
</html>